{
  "env": {
      "browser": true,
      "es2021": true,
      "node": true
  },
  "extends": [
    "@nuxtjs/eslint-config-typescript"
  ],
  "ignorePatterns": ["node_modules"],
  "rules": {
    "tailwindcss/no-custom-classname": "off"
  }
}
